.box {
      background-color: green;
      width: 100px;
      padding: 50px;
      margin: 10px;
      font-size: 30px;
      color: white;
      float: left;
      /* box2,3 and 4 float left of the paragraph */
      /* float: right; */
      /* box1 stays in right upper corner */

}

.clear {
      clear: both;
}
