/* transition: property || duration || timing-function || delay ;  */

.box {
      width: 150px;
      height: 150px;
      background-color: gray;
      /* transition:  background-color 1s ease 0.5s; */
      /* transition-property: background-color; */
      /* transition-property: transform; */
      /* transition-duration: 2s; */
      /* transition-timing-function: ease; */
      /* transition-timing-function: linear;
      transition-delay: 2s; */
      /* Below is how to do all of the above eloquently */
      /* transition: all 2s linear 2s; */
      transition: background-color 2s linear 2s, transform 5s ease-out 1s;
}

.box:hover {
      background-color: orange;
      transform: translate(100px);
}
